$('#order-<%= @order.id %> #receiver-info').html( '<div><%= t "order.name" %><%= @order.receiver_name %></div><div><%= t "order.address" %><%= @order.receiver_address %></div><div><%= t "order.phone" %><%= @order.receiver_phone %></div><div><%= t "order.created_at" %><%= l @order.created_at, format: :format_date %></div>');
