<tr>
  <td class="col-sm-4  order-info" id="receiver-info">
    <%= suggest_product.name %>
  </td>
  <td class="col-sm-2 text-center">
    <%= image_tag suggest_product.image.url %>
  </td>
  <td class="col-sm-2 text-center item-total-price ">
    <%= suggest_product.description %>
  </td>
  <td class="col-sm-2 text-center item-total-price ">
    <%= suggest_product.price %>
  </td>
  <td><span class="label label-default"><%= suggest_product.status %></span></td>
  <td>
    <%= link_to t("pending"), admin_suggest_product_path(suggest_product, status: "Pending"),
      method: :put, remote: true, class: "btn btn-warning" %>
    <%= link_to t("approve"), admin_suggest_product_path(suggest_product, status: "Approved"),
      method: :put, remote: true, class: "btn btn-info" %>
    <%= link_to t("reject"), admin_suggest_product_path(suggest_product, status: "Reject"),
      method: :put, remote: true, class: "btn btn-danger" %>
  </td>
</tr>
